.card-container{
    display: flex;
    background-color: gray;
    width:75vw;
    flex-wrap: wrap;
    border-radius: 5px;
}

.card-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
  }